
i {
    border: solid white;
    border-width: 0px 9px 9px 0px;
    display: inline-block;
    padding: 15px;
}
.edit-btn {
    padding-top: 25px;
    padding-left: 25px;
}
.edit-btn-right{
    padding-top: 25px;
    padding-right: 25px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(150deg);
  -webkit-transform: rotate(135deg);
}
.btn-primary {
    color: #fff; 
    background-color: #007bff;
     border-color: none;
}
.cus-btn{}
/*.array-part{
  display:block;
  width: 100%;
  height:80%;
}*/